* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: lightblue;
}

table {
  color: black;
  font-weight: 400;
  padding: 20px;
  margin: 20px;
  border: 5px solid black;
  /* background: yellow; */
}

th,
td {
  padding: 0 10px;
}

.player-cell {
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.player-cell-name a {
  color: black;
  font-weight: 600;
}

.player-cell-school {
  font-size: 12px;
}

.active {
  font-weight: 900;
  color: black;
  opacity: 1;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
}
